html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


img{
  max-width: 100%;
  height: auto;
}


ul{
  list-style: none;
}

a{
  text-decoration: none;
}

#map{
  display: none;

  @mixin atMedium{
    display: block;
    height: 600px;
    width: 100%;
  }

  @mixin atLarge{
    display: block;
    height: 600px;
    width: 100%;
  }

  @mixin atExLarge{
    display: block;
    height: 600px;
    width: 100%;
  }
}


.grid {
    min-height: 300px;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        height: 600px;
    }
}
