/* COLORS */
$blue: #1088C9;
$yellow: #F2EF3C;
$black: #0D0D0D;
$nickel: #6F6F6F;
$gray: #AAAAAA;

/* FONTS */
$font-archivo: 'Archivo Black', sans-serif;
$font-source-sans: 'Source Sans Pro', sans-serif;
$font-lato: 'Lato', sans-serif;
$font-roboto: 'Roboto', sans-serif;
$font-oswald: 'Oswald', sans-serif;
