.heading{
  text-transform: uppercase;
  color: $black;
  font-family: $font-archivo;
  margin-top: 0px;

  &--small{
    color: $nickel;
    font-family: $font-source-sans;
    margin-bottom: 0px;
  }

  &--about{
    text-align: center;
  }

  &--footer{
    font-size: 1rem;
  }
}
